@font-face {
    font-family: 'Myfont';
    src: url('../fonts/myfont-regular.woff2') format('woff2'),
        url('../fonts/myfont-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body{
background-image: url('../images/White-Textured-Background.jpg');
}

@media (min-width: 320px){
    .QuantumRobbers,.Ragball, .ATrebledMan, .SolelyBasil, .RocketScience{
        font-family: 'Myfont';
        flex-flow: row wrap;
        margin: auto;
        padding-bottom: 20px;
    }
    .QuantumRobbers p,.Ragball p, .ATrebledMan p, .SolelyBasil p, .RocketScience p{
        font-size: 2.3rem;
        padding: 0 30px 20px 20px;
        margin: auto;
        text-align: center;
    }


    .QuantumRobbers h2, .Ragball h2, .ATrebledMan h2, .SolelyBasil h2, .RocketScience h2{
        margin: auto;
        text-align: center;
        padding-top: 20px;
        font-size: 3rem;
    }

    .QRVideo, .RBVideo, .TMVideo {
        position: relative;
      overflow: hidden;
      width: 100%;
      padding-top: 56.25%;
      }
      
      .QRiframe, .RBiframe, .TMiframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 75%;
        height: 75%;
        margin: auto;
      }
    
    
    
    button{
        font-family: 'Myfont';
        font-size: 2.2rem;
        border-width: 5px;
        display: block;
        margin: auto;
    }
        
    
    
    .SolelyBasil img{
        display: flex;
        margin: auto;
        padding: 30px 0;
    }
    
    
    .RocketScience img{
        display: flex;
        margin: auto;
        width: 90%;
        height: 90%;
        padding: 30px 0;
    }
    
}

@media (min-width: 600px){
    .QuantumRobbers,.Ragball, .ATrebledMan, .SolelyBasil, .RocketScience{
        font-family: 'Myfont';
        flex-flow: row wrap;
        margin: auto;
        padding: 20px 0;
    }
    .QuantumRobbers p,.Ragball p, .ATrebledMan p, .SolelyBasil p, .RocketScience p{
        font-size: 2.3rem;
        padding: 0 30px 20px 20px;
        margin: auto;
        text-align: center;
    }


    .QuantumRobbers h2, .Ragball h2, .ATrebledMan h2, .SolelyBasil h2, .RocketScience h2{
        margin-left: 20px;
        text-align: left;
        padding-top: 20px;
        font-size: 3.3rem;
        justify-self: start;
    }

    .QRVideo, .RBVideo, .TMVideo {
        position: relative;
      overflow: hidden;
      width: 100%;
      padding-top: 56.25%;
      }
      
      .QRiframe, .RBiframe, .TMiframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 93%;
        height: 93%;
        margin: auto;
      }
    
    
    
    button{
        font-family: 'Myfont';
        font-size: 2.2rem;
        border-width: 5px;
        display: block;
        margin: auto;
    }
        
    
    
    .SolelyBasil img{
        display: flex;
        margin: auto;
        padding: 30px 0;
    }
    
    
    .RocketScience img{
        display: flex;
        margin: auto;
        width: 90%;
        height: 90%;
        padding: 30px 0;
    }
    
}

@media (min-width: 1000px){
    .QuantumRobbers,.Ragball, .ATrebledMan, .SolelyBasil, .RocketScience{
        font-family: 'Myfont';
        flex-flow: row nowrap;
        margin: auto;
        padding: 20px 0;
    }
    .QuantumRobbers p,.Ragball p, .ATrebledMan p, .SolelyBasil p, .RocketScience p{
        font-size: 2.3rem;
        padding: 0 30px 20px 20px;
        margin: auto;
        text-align: center;
    }


    .QuantumRobbers h2, .Ragball h2, .ATrebledMan h2, .SolelyBasil h2, .RocketScience h2{
        margin-left: 20px;
        text-align: left;
        padding-top: 20px;
        font-size: 3.3rem;
        justify-self: start;
    }

    .QRVideo, .RBVideo, .TMVideo {
        position: relative;
      overflow: hidden;
      width: 100%;
      padding-top: 56.25%;
      }
      
      .QRiframe, .RBiframe, .TMiframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 30%;
        height: 30%;
        margin: auto;
      }
    
    
    
    button{
        font-family: 'Myfont';
        font-size: 2.2rem;
        border-width: 5px;
        display: block;
        margin: auto;
    }
        
    
    
    .SolelyBasil img{
        display: flex;
        margin: auto;
        padding: 30px 0;
    }
    
    
    .RocketScience img{
        display: flex;
        margin: auto;
        width: 90%;
        height: 90%;
        padding: 30px 0;
    }
    
}

footer{
    font-family: "Myfont";     
    width: 100%;
    font-size: 2rem;
    bottom: auto;
    padding-top: 40px;
    
}

footer p {
    text-align: center;
    display: flex;
    margin: auto;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    justify-items: center;
}




