@font-face {
        font-family: 'Myfont';
        src: url('../fonts/myfont-regular.woff2') format('woff2'),
            url('../fonts/myfont-regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

body{
    background-image: url('../images/White-Textured-Background.jpg');
}
    
footer{
    font-family: "Myfont";     
    width: 100%;
    font-size: 2rem;
    bottom: auto;
    padding-top: 40px;
    
}

footer p {
    text-align: center;
    display: flex;
    margin: auto;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    justify-items: center;
}

@media (min-width: 100px){
    .slideshowContainer img{
        padding-top: 50px;
        display: flex;
        margin: auto;
        width: 75%;
    }
}

@media (min-width: 600px){
    .slideshowContainer img{
        display: flex;
        margin: auto;
        width: 75%;
    }
}

@media (min-width: 1300px){
    .slideshowContainer img{
        display: flex;
        margin: auto;
        width: 50%;
    }
}


