@font-face {
        font-family: 'Myfont';
        src: url('../fonts/myfont-regular.woff2') format('woff2'),
            url('../fonts/myfont-regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

body{
    background-image: url('../images/White-Textured-Background.jpg');
}
    
footer{
    font-family: "Myfont";     
    width: 100%;
    font-size: 2rem;
    position: absolute;
    bottom: auto;
    padding-top: 40px;
}

footer p {
    display: block;
    margin: auto;
    width: 50%;
    padding-right: 45px;
}



